
details {
	summary {
		list-style: none !important;

		&:focus {
			outline: none;
		}
		&::-webkit-details-marker {
			display: none;
		}
	}
}

.details-modal-overlay-h5p {
	transition: opacity 0.2s ease-out;
	pointer-events: none;
	background: rgba(#0f172a, 0.8);
	position: fixed;
	opacity: 0;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;

	details[open] & {
		pointer-events: all;
		opacity: 0.5;
	}
}

.details-modal-h5p {
	z-index: 999;
	background: #ffffff;
	border-radius: 0.5em;
	box-shadow: 0 10px 20px rgba(black, 0.2);
	left: 50%;
	max-width: 90%;
	pointer-events: none;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	text-align: left;
	max-height: 90vh;
	// height: auto;
	display: flex;
	flex-direction: column;
}

.details-modal-close-h5p {
	align-items: center;
	color: #111827;
	display: flex;
	height: 4.5em;
	justify-content: center;
	pointer-events: none;
	position: absolute;
	right: 0;
	top: 0;
	width: 4.5em;

	svg {
		display: block;
	}
}

// -------------- TITLE

.details-modal-title-h5p {
	color: #111827;
	padding: 1.5em 2em;
	pointer-events: all;
	position: relative;
	width: calc(100% - 4.5em);

	h1 {
		font-size: 1.25rem;
		font-weight: 600;
		line-height: normal;
	}
}

// -------------- CONTENT

.details-modal-content-h5p {
	border-top: 1px solid #e0e0e0;
	padding: 2em;
	pointer-events: all;
	overflow: auto;
}
