@import "./variables";
@import "./main_grid";
@import "./bienvenida";
@import "./menu";
@import "./conoceProfesor";
@import "./conocerte";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap");

body {
	font-family: "Montserrat", sans-serif;
	margin: 0;
	padding: 0;
	background-color: $white;
	color: $negro;
	a {
		text-decoration: none;
	}
	height: 100%;
}

.activeLink {
	background-color: $guinda;
	color: $white;
}

header {
	display: flex !important;
	align-items: center;
	flex-direction: column;
	justify-content: center !important;
	margin-bottom: 3rem;

	a {
		text-align: center;
	}

	.pleca_principal {
		width: 90%;
		box-shadow: -9px 10px 5px -4px rgba(0, 0, 0, 0.57);
		-webkit-box-shadow: -9px 10px 5px -4px rgba(0, 0, 0, 0.57);
		-moz-box-shadow: -9px 10px 5px -4px rgba(0, 0, 0, 0.57);
		margin-top: 1rem;
		align-self: center !important;
	}
}

.flex-arrows {
	position: initial !important;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.homeSVG {
	// position: absolute;
	color: $guinda !important;
	font-size: 2rem;
	&:hover {
		transition: all 0.5s ease;
		color: $guinda_hover;
	}
}

.pdfViewer {
	width: 100%;
	margin: 5rem auto;
	.pdf {
		border: "1px solid rgba(0, 0, 0, 0.3)";
		height: 900px;
		max-height: 1200px;
		width: 100%;
	}
}

.blue_text {
	color: $blue;
}

footer {
	width: 100%;
	background-color: $guinda;
	text-align: center;
	margin-top: 4rem;
	grid-row-start: 2;
	grid-row-end: 3;
}

@media only screen and (max-width: 600px) {
	header {
		margin-bottom: 1.5rem;
		.pleca_principal {
			width: 90%;
		}
	}
}
